{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" class="navbar-collapse" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
