<div class="navbar-header text-center">
    <a href="{{ path('<front>') }}" class="navbar-brand" title="{{ 'Max Veilleux'|t }}" rel="home">
      <img class="sr" src="{{ site_logo }}" alt="{{ 'Max Veilleux'|t }}" />
    </a>
    <a href="#" id="nav-icon" class="valign"><span></span><span></span><span></span></a>
</div>