<section class="project">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-24">
        <div class="project-back small-subtitle link arrow-left sr sr-600">
           {% if (language == 'fr') %}
            <a href="/fr#projects">Retour aux projets</a>
          {% else %}  
            <a href="/en#projects">Back to projects</a>
          {% endif %}  
        </div>
  			<div class="project-image text-center sr sr-200 sr-view-05">{{ content.field_project_image }}</div>
        <div class="project-link small-subtitle link arrow-right sr sr-800 sr-view-05">{{ content.field_website_link }}</div>
  		</div>
  	</div>
  	<div class="row project-info">
  		<div class="col-sm-13">
  			<div class="small-title sr">{{ label }}</div>
  			<div class="small-subtitle sr">{{ content.field_project_technologies['#title'] }}</div>
  			<div class="sr">{{ content.field_project_technologies }}</div>
  		</div>
  		<div class="col-sm-11 col-md-10 col-lg-8">
        <div class="project-content sr sr-200 sr-view-05">{{ content.body }}</div>
      </div>
  	</div>
  </div>
</div>