<header id="site-header" class="banner navbar navbar-default navbar-static-top" role="banner">
  {{ page.header }}
  {{ page.primary_menu }}
</header>

<div id="wrap"> 
    {{ page.content }}

  <footer class="text-center" role="contentinfo">
    <div class="container">
      <a href="{{ path('<front>') }}" class="footer-brand"><i class="icon-logo"></i></a>
    </div>
  </footer>
  
</div>