<header id="site-header" class="banner navbar navbar-default navbar-static-top" role="banner">
  {{ page.header }}
  {{ page.primary_menu }}
</header>

<div id="wrap">

  <section id="home" class="block">
    <div class="container">
      <div class="profile text-center sr sr-200 sr-no-reset">
        <div class="bg">
          <div class="sr sr-600 sr-origin-left sr-no-reset">
            <img data-0="transform:rotate(0deg) translateY(0px);" data-top-bottom="transform:rotate(6deg) translateY(-80px);" src="{{ base_path ~ directory }}/img/max-profile-bg-v2.png">
          </div>
        </div>
        <img class="face" data-0="transform:translateY(0px);" data-top-bottom="transform:translateY(70px);" src="{{ base_path ~ directory }}/img/max-profile-color.png">
      </div>

      <div class="row">
        <div class="col-lg-16 col-md-15 wrap-title">
          <div id="about" class="title">
            {% if (language.getId() == 'fr') %}
              <span class="sr sr-400 sr-view-05 sr-origin-right">Développeur</span>
              <br class="break">
              <span class="sr sr-600 sr-view-05 sr-origin-right">web</span> <br>
              <span class="sr sr-origin-right">à&nbsp;temps</span> <br>
              <span class="sr sr-origin-right">plein,</span> <br>
              <span class="sr sr-origin-right">ninja</span> <br>
              <span class="sr sr-origin-right">à&nbsp;temps</span> <br>
              <span class="sr sr-origin-right">partiel</span>
            {% else %}  
              <span class="sr sr-400 sr-view-05 sr-origin-right">Full-time</span> <br>
              <span class="sr sr-600 sr-view-05 sr-origin-right">developer,</span><br class="break">
              <span class="sr sr-origin-right">part-time</span> <br>
              <span class="sr sr-origin-right">ninja</span>
            {% endif %}   

            <div class="small-subtitle link">
              <a data-fancybox href="https://youtu.be/Mm6k0uX51bE">
                {% if (language.getId() == 'fr') %}
                Ninja... de quessé?!
                {% else %}
                Oh really... Ninja?!
                {% endif %}   
                <i class="icon-arrow-left bounce-left animated-fast"></i>
              </a>
            </div>

          </div>
        </div>
        <div class="col-lg-8 col-md-9 about-bio">

          {% if (language.getId() == 'fr') %}
            <div class="divider">
              <p class="sr sr-view-05">Lead développeur à l'Agence Minimal depuis 4 ans, à Montréal. Spécialiste en développement front-end. Meilleur ami des languages web HTML5, CSS3 et languages de programmation PHP, Javascript, ainsi que des frameworks mobiles Bootstrap 3 et Foundation.</p>
              
              <p class="sr sr-view-05">Expert en développement Wordpress sur mesure. Récemment devenu fan et développeur Drupal 8.</p>
              
              <p class="sr sr-view-05">Utilisation quotidienne des technologies de styles précompilés Less et Sass, avec Grunt ou Gulp.</p>
              
              <p class="sr sr-view-05">Utilisation régulière des systèmes de contrôle de versions avec Git, via les services Bitbucket et Github. En cas de feu: git commit, git push, get out of building.</p>
              
              <p class="sr sr-view-05">Fan des dernières technologies, nouvelles manières de faire. Rigueur pour un code propre, optimisé, compatible (IE9+), responsive et réutilisable.</p>
              
              <p class="sr sr-view-05">A récemment complété le Certificat en informatique appliquée de l'Université de Montréal. Étude avancée du language Java en mode console et pour le développement mobile Android, développement intermédiaire en C++, programmation en C#, sécurité des systèmes informatique, perfectionnement en PHP, technologies XML, bases de données, etc.</p>
            </div>
          {% else %}
            <div class="divider sr sr-view-05">
              <p class="sr sr-view-05">Lead developer at Minimal Agency for the past 4 years, in Montreal. Specialist in front-end web development. Best friend's with HTML5 and CSS3 web languages, PHP and Javascript programming languages, as well as mobile frameworks such as Bootstrap 3 and Foundation.</p>

              <p class="sr sr-view-05">Wordpress custom development expert. Recently became fan and Drupal 8 developer.</p>
           
              <p class="sr sr-view-05">Daily use of Less and Sass precompiled styles with Grunt or Gulp.</p>
           
              <p class="sr sr-view-05">Regular use of version control systems with Git, via the Bitbucket and Github services. In case of fire: git commit, git push, get out of building.</p>
         
              <p class="sr sr-view-05">Fan of latest technologies, new ways of doing. Rigour for clean, optimized, compatible (IE9 +), responsive and reusable code.</p>
          
              <p class="sr sr-view-05">Recently completed the Applied Computer Science's Certificate from the University of Montreal. Advanced study of the Java language in console mode and for Android mobile development, intermediate development in C++, C# programming, PHP programming, computer systems's security, XML technologies, databases, etc.</p>
            </div>
          {% endif %}  

        </div>
      </div>
    </div>
  </section>

  <section id="technologies" class="block">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="title"><span class="sr sr-origin-right">Tech-</span><br><span class="sr sr-100 sr-origin-right">nologies</span></div>
        </div>
        <div class="col-md-20 col-md-offset-2 col-sm-24">
          <div class="wrap-technologies">
            <div class="single-tech"><p>HTML5</p></div>
            <div class="single-tech"><p>CSS3</p></div>
            <div class="single-tech"><p>PHP</p></div>
            <div class="single-tech"><p>Javascript</p></div>
            <div class="single-tech"><p>Less</p></div>
            <div class="single-tech"><p>Sass</p></div>
            <div class="single-tech"><p>Responsive</p></div>
            <div class="single-tech"><p>Git</p></div>
            <div class="single-tech"><p>Bootstrap</p></div>
            <div class="single-tech"><p>Foundation</p></div>
            <div class="single-tech"><p>Ajax</p></div>
            <div class="single-tech"><p>Wordpress</p></div>
            <div class="single-tech"><p>Drupal</p></div>
            <div class="single-tech"><p>Laravel</p></div>
            <div class="single-tech"><p>MySQL</p></div>
            <div class="single-tech"><p>Grunt</p></div>
            <div class="single-tech"><p>Gulp</p></div>
            <div class="single-tech"><p>Java / Android</p></div>
            <div class="single-tech"><p>C#</p></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="block">
    <div id="projects-list" class="sr sr-500"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="title sr sr-origin-right">
            {% if (language.getId() == 'fr') %}Projets{% else %}Projects{% endif %}  
          </div>
        </div>
      </div>
      <div class="projects-inner">
      {# <div class="row"> #}
        {{ page.projects }}
        {#<div class="col-sm-8">
          <a href="#" class="single-project">
            <img src="{{ base_path ~ directory }}/img/projects/om-thumb.jpg">
          </a>
        </div>#}
      {# </div> #}
      </div>
    </div>
  </section>

  <section id="awards" class="block">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="title">
            {% if (language.getId() == 'fr') %}
              <span class="sr sr-origin-right">Prix +</span><br><span class="sr sr-100 sr-origin-right">distinctions</span>
            {% else %} 
              <span class="sr sr-origin-right">Awards +</span><br><span class="sr sr-100 sr-origin-right">distinctions</span>
            {% endif %}   
          </div>
        </div>
        <div class="wrap-awards col-md-22 col-sm-23 col-md-offset-2 col-sm-offset-1">

          {% if (language.getId() == 'fr') %}
          <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Boomerang 2016 - K pour Katrine</p>
                  <div class="small-title">Prix Boomerang <br>11.2016</div>
                  <p>Site ou application de marque grand public, catégorie PME</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10"></div>
          </div>
          <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Web Guru Awards - K pour Katrine</p>
                  <div class="small-title">Guru of the month <br>09.2016</div>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="divider single-award">
                <div class="sr sr-200">
                  <p class="big">Boomerang 2015 - Domaine St-Jacques</p>
                  <div class="small-title">Prix Boomerang <br>11.2015</div>
                  <p>Site ou application de marque grand public, catégorie PME</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Web Guru Awards - Oasis at Grace Bay</p>
                  <div class="small-title">Guru of the day <br>09.2016</div>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="divider single-award">
                <div class="sr sr-200">
                  <p class="big">Boomerang 2015 - Philhobar</p>
                  <div class="small-title">Prix Boomerang <br>11.2015</div>
                  <p>Site ou application de marque B2B, catégorie PME</p>
                </div>
              </div>
            </div>
          </div>
          {% else %} 
            <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Boomerang 2016 - K pour Katrine</p>
                  <div class="small-title">Boomerang award <br>11.2016</div>
                  <p>Website or application of consumer brand, SME category</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10"></div>
          </div>
          <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Web Guru Awards - K pour Katrine</p>
                  <div class="small-title">Guru of the month <br>09.2016</div>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Boomerang 2015 - Domaine St-Jacques</p>
                  <div class="small-title">Boomerang award <br>11.2015</div>
                  <p>Website or application of consumer brand, SME category</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-14">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Web Guru Awards - Oasis at Grace Bay</p>
                  <div class="small-title">Guru of the day <br>09.2016</div>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="divider single-award">
                <div class="sr">
                  <p class="big">Boomerang 2015 - Philhobar</p>
                  <div class="small-title">Boomerang award <br>11.2015</div>
                  <p>B2B brand website or application, SME category</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %} 
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="block">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <div class="title sr sr-origin-right">Contact</div>
        </div>
        <div class="wrap-contact col-sm-22 col-sm-offset-2">
          {# <form>
            <div class="row">
              <div class="col-sm-8"><input type="text" placeholder="Prénom"></div>
              <div class="col-sm-8"><input type="text" placeholder="Nom"></div>
              <div class="col-sm-8"><input type="text" placeholder="Courriel"></div>
              <div class="col-sm-24"><textarea placeholder="Message"></textarea></div>
              <input type="submit" value="Envoyer">
            </div>
          </form> #}
          <div class="row">
            {{ page.contact_form }}
          </div>
        </div>
      </div>
    </div>
  </section>

</div>{# /#wrap #}

<footer class="text-center" role="contentinfo">
  <div class="container">
    <a href="{{ path('<front>') }}" class="footer-brand"><i class="icon-logo"></i></a>
  </div>
</footer>

