/*===========================
Max - Fonts
===========================*/

@font-face {
    font-family: 'markbold';
    src: url('../fonts/MarkOffcPro-Bold.eot');
    src: url('../fonts/MarkOffcPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MarkOffcPro-Bold.woff2') format('woff2'),
         url('../fonts/MarkOffcPro-Bold.woff') format('woff'),
         url('../fonts/MarkOffcPro-Bold.ttf') format('truetype'),
         url('../fonts/MarkOffcPro-Bold.svg#markbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'markheavy';
    src: url('../fonts/MarkOffcPro-Heavy.eot');
    src: url('../fonts/MarkOffcPro-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MarkOffcPro-Heavy.woff2') format('woff2'),
         url('../fonts/MarkOffcPro-Heavy.woff') format('woff'),
         url('../fonts/MarkOffcPro-Heavy.ttf') format('truetype'),
         url('../fonts/MarkOffcPro-Heavy.svg#markbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marklight';
    src: url('../fonts/MarkOffcPro-Light.eot');
    src: url('../fonts/MarkOffcPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MarkOffcPro-Light.woff2') format('woff2'),
         url('../fonts/MarkOffcPro-Light.woff') format('woff'),
         url('../fonts/MarkOffcPro-Light.ttf') format('truetype'),
         url('../fonts/MarkOffcPro-Light.svg#markbold') format('svg');
    font-weight: normal;
    font-style: normal;
}