/*===========================
Max - General
===========================*/

body, p{
	font-family: @mlight;
	font-size: 15px;
	color: #000;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
	background: url('../img/bg-texture.png') repeat center fixed;
	background-position: ~"calc(50% + 37px)" center;

	&.toolbar-tray-open.toolbar-vertical.toolbar-fixed{
		margin-left: 0px !important;
	}
}

#wrap{ overflow-x: hidden; }
article{ padding: 80px 20px; }

p{ 
	line-height: 2em; 
	margin-bottom: 0;

	&.big{ font-size: 18px; }
}

a{
	color: @blue;
	-webkit-transition: all .25s;
	transition: all .25s;
}

a:focus, a:hover{
	color: @blue;
	outline: 0;
	text-decoration: none;
}

.divider{
	position: relative;

	&:before{
		content: "";
		background: @blue;
		width: 152px; height: 6px;
		position: absolute;
		top: -63px; left: 0;
		-webkit-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
		width: 0;
	}

	&.anim:before{ width: 152px; }
}

.block{
	padding: 45px 0;
}

.field-content{ padding: 0 15px; }

/* Various titles / subtitles */
.title, .small-title, .small-subtitle{
	letter-spacing: 0.19em;
}

.title{
	color: @blue;
	font-family: @mheavy;
	font-size: 130px;
	line-height: 1.4em;
	text-transform: uppercase;
	margin-bottom: 84px;
	margin-left: 13px;

	span{ display: inline-block; }
}

.small-title, .small-subtitle{
	position: relative;
	color: #000;
	font-family: @mheavy;
	font-size: 36px;
	line-height: 1.4em;
	text-transform: uppercase;
}

.small-subtitle{
	font-size: 12px;

	&.link, &.link a{
		color: @blue;
		font-family: @mbold;
	}

	&.arrow-right a:after, 
	&.arrow-left a:before{
		font-family: "icomoon";
		display: inline-block;
		font-size: 11px;
		-webkit-transition: all .25s;
		transition: all .25s;
	}

	&.arrow-right a:after{
		content: "\e901";
		margin-left: 12px;
	}
	&.arrow-right a:hover:after{
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}

	&.arrow-left a:before{
		content: "\e900";
		margin-right: 12px;
	}
	&.arrow-left a:hover:before{
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
}

.user-login-form{
	padding: 80px 20px;
    max-width: 1270px;
    margin: 0 auto;

    input, textarea{ border: 1px solid @blue; }
    input[type="submit"]{
    	display: inline-block;
    	margin-top: 50px;
    	margin-left: 15px;
    }

    .form-item{ margin-bottom: 65px; }
}
