/*=========================
Project - Helpers
=========================*/

.visually-hidden,
#toolbar-administration{ display: none !important; }

/*.visually-hidden{ display: none !important; }*/

.sr,
#projects .wrap-projects > div,
#technologies .wrap-technologies > div,
#technologies .wrap-technologies > div > p{ 
    visibility: hidden; 
}

.row.table{
    margin: 0;
    width: 100%;
    height: 100%;

    > div{
	    overflow: hidden;
	    height: 100%;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
    }
}

img{
	max-width: 100%;
}

img.fill{
    width: auto !important;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: -9999px;
    top: -9999px;
}

.upper{
	text-transform: uppercase;
}

.center{
    text-align: center;
}

.color-blue, .color-blue a{ color: @blue; }

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full-width{
    width: 100%;
}

.in-block{
    display: inline-block;
    vertical-align: top;

    &.middle{
        vertical-align: middle;
    }
}

.bx-wrapper{
    margin: 0;
    background: transparent;

    .bx-viewport{
        border: 0;
        left: 0;
        background: transparent;
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0;
    }

    .bx-pager{
        bottom: 10px;
    }
    
    .bx-controls-direction a{ z-index: 99; }
}

.hero-scroll{
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 140px;
    text-align: center;
    text-decoration: none;

    > a{
        display: block;
    }

    span{
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.5px;
        display: block;

        &.arrow{
            font-size: 9px;
            color: #fff;
            margin-top: 14px;
        }
    }
}

.bounce{
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.bounce-left{
    -webkit-animation-name: bounceleft;
    -moz-animation-name: bounceleft;
    -o-animation-name: bounceleft;
    animation-name: bounceleft;
}

.animated{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

                animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    -ms-animation-duration:3s;
    -o-animation-duration:3s;
    animation-duration:3s;
}

.animated-fast{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

                animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -o-animation-duration:1.5s;
    animation-duration:1.5s;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-7px);}
    60% {-webkit-transform: translateY(-4px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-7px);}
    60% {transform: translateY(-4px);}
}

@-webkit-keyframes bounceleft {
    0%, 100% {-webkit-transform: translateX(0);} 
    50% {-webkit-transform: translateX(-6px);}
}

@keyframes bounceleft {
    0%, 100% {transform: translateX(0);}
    50% {transform: translateX(-6px);}
}

input, select, textarea{
    width: 100%;
    border: none;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    background: transparent;
    padding: 16px 20px;
    font-size: 12px;
    letter-spacing: 0.19em;
    color: @blue;
    resize: none;
    margin-bottom: 55px;
    text-transform: uppercase;
    font-family: @mheavy;

    &:focus{ outline: 0; }
}

textarea{
    height: 160px;
}

.styled-select{
    position: relative;

    select{
        position: relative;
        cursor: pointer;
        z-index: 2;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-align: left;
        background-color: transparent;
        background-image:url('../img/select-down.png');
        background-position: right 110px center;
        background-repeat: no-repeat;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding-left: 35%;
    }
}

::-webkit-input-placeholder {
   color: @blue;
   opacity: 1;
}

:-moz-placeholder { 
   color: @blue;
   opacity: 1;
}

::-moz-placeholder { 
   color: @blue;
   opacity: 1;
}

:-ms-input-placeholder {  
   color: @blue;
   opacity: 1;
}
