/*===========================
Max - Home positioning
===========================*/

#home{
	.profile{
		position: relative;
		left: -30px;
		margin: 20px 0 0 0;
		height: ~"-webkit-calc(100vh - 140px)";
		height: ~"calc(100vh - 140px)";

		.face{ width: auto !important; height: 100%; }

		.bg{
			position: absolute;
		    z-index: -1;
		    right: 0; left: 0;
		    margin: 0 auto;
		    top: 30px;
		    height: 62%;
		    width: auto;
		    opacity: 0.8;
		    -webkit-transform: translateX(110px);
		    transform: translateX(110px);

		    img, > div{ height: 100%; }
		}
	}
	.wrap-title{
		position: static; 

		.title{
			position: absolute;
			top: ~"-webkit-calc(100% - 309px)";
			top: ~"calc(100% - 309px)";
		}
	}
}

html[lang="en"]{
	#home .about-bio{ padding-top: 395px; }
}

@media (max-width: 1360px){

	#home{
		.wrap-title .title{
			top: ~"-webkit-calc(100% - 265px)";
			top: ~"calc(100% - 265px)";
		}
	}
}

@media (max-width: 991px){

	#home{
		.wrap-title .title{ 
			position: static; 
			margin-top: -60px;
		}

		.profile{ 
			height: auto; 

			.face{
				width: 300px !important;
				height: auto;
			}

			.bg{
				-webkit-transform: translateX(55px);
				transform: translateX(55px);
			}
		}
	}
}

@media (max-width: 767px){

	#home .profile{
		left: -15px;

		.face{
			width: 210px !important;
		}
		.bg{ 
			top: 26px; 
			-webkit-transform: translateX(36px);
    		transform: translateX(36px);
		}
	}

}