/*===========================
Max - Home
===========================*/

#home{
	padding-top: 0;

	#about .link{
		margin: 70px 0 0 82px;

		i{ 
			display: inline-block; 
			margin-left: 8px;
			font-size: 11px;
		}
	}

	.about-bio{
		padding-top: 580px;

		p{ margin-bottom: 30px; }
	} 
}

.wrap-technologies{
	margin-bottom: -30px;
	margin-left: -10px;

	.single-tech{
		display: inline-block;
		vertical-align: top;
		width: 21.3%;
		margin-bottom: 70px;

		&:nth-child(5n){ width: auto; }

		p{ 
			font-size: 18px; 
		}
	}
}

.single-award{
	margin-bottom: 75px;

	&.divider:before{ top: -16px; }
	
	.small-title{ 
		white-space: nowrap; 
		margin-bottom: 3px; 
	}
}

.wrap-awards{
	position: relative;
	left: -10px;

	.row > div:last-child .single-award{
		left: -5px;
	}

	.row:last-child .single-award{
		margin-bottom: 30px;
	}
}

/* All Projects Block */
#projects{ 
	position: relative; 

	.wrap-projects:last-child .single-project{
		margin-bottom: 0;
	}

	.projects-inner{ padding: 0 20px; }
}

#projects-list{
	position: absolute;
	top: 306px; right: 0;
	z-index: 99;
	padding-right: 23px;

	.small-subtitle{
		text-align: right;
		-webkit-transition: all .3s;
	    transition: all .3s;

	    &:last-child a{ padding: 0; }

	    a{ 
	    	display: inline-block; 
	    	padding-bottom: 13px; 
	    }

		&:after{
			font-family: "icomoon";
			content: "\e901";
			display: inline-block;
			margin-left: 12px;
			font-size: 11px;
		}
	}

	&.fixed{
		position: fixed;
		top: 50px;
	}

	&.fixed-bottom{
		top: auto;
		bottom: 45px;
	}
}

.single-project{
	background: #fff;
	display: block;
	margin-bottom: 30px;

	> a{ display: inline-block; }

	> a:hover img, &.hover > a img{
		opacity: 1;
		-webkit-filter: grayscale(0%);
	    -moz-filter: grayscale(0%);
	    -ms-filter: grayscale(0%);
	    filter: grayscale(0%);
	    filter: none;
	}

    img{
    	opacity: 0.3;
    	-webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    filter: grayscale(100%);
	    filter: gray;
	    -webkit-transition: all .3s;
	    transition: all .3s;
    }

    .small-subtitle{ display: none; }
}
/* end All Projects Block */

body.is-ie #contact input[type="submit"]{
	position: static;
	margin: 30px 0 15px 15px;
	-webkit-transform: none;
	transform: none;
	border: 2px solid @blue;
}

#contact{
	padding-bottom: 80px;

	.title{ margin-bottom: 54px; }
	form{ margin-left: -45px; }
	.wrap-contact{ position: static; }
	label{ display: none; }

	input[type="submit"]{
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: absolute;
		right: -43px;
		border-bottom: 0;
	}

	.field-content{

		ul{
			padding-left: 0;
			margin-bottom: 25px;
			margin-left: -25px;

			li{
				list-style: none;
				float: left;
				width: 33.3333%;
				margin-bottom: 7px;
				padding: 0 15px;
			}

			&:after{
				content: "";
				clear: both;
				display: table;
			}
		}
	}
}

input[type="submit"]{
	background: @blue;
	width: auto;
	display: inline-block;
	color: #fff;
	padding: 30px 43px;
	margin-top: 58px;
	margin-bottom: 0;
	border: 2px solid @blue;
	-webkit-transition: all .3s;
	transition: all .3s;

	&:hover{
		color: @blue;
		background: transparent;
	}
}

html[lang="en"]{
	#contact input[type="submit"]{
		right: -27px;
	}
}