/*===========================
Max - Icomoon
===========================*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oipx7o');
  src:  url('../fonts/icomoon.eot?oipx7o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oipx7o') format('truetype'),
    url('../fonts/icomoon.woff?oipx7o') format('woff'),
    url('../fonts/icomoon.svg?oipx7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:after {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}