/*===========================
Max - Mobile
===========================*/

@media (max-width: 767px){

	.block{ padding: 25px 0; }

	.container{ width: 100%; }

	/*#wrap{ padding-left: 60px; }*/
	#nav-icon{ 
		/*left: 25px; */
		left: auto;
		right: 15px;
    	top: 38px;
		-webkit-transform: none;
		transform: none;

		> span{ height: 20px; }
	}

	.title{ 
		/*font-size: 27px; */
		font-size: 30px; 
		letter-spacing: 0.12em; 
		margin-bottom: 45px;
		max-width: none;
	}

	p{ line-height: 1.8em; }

	.divider:before{ top: -40px; }

	header.navbar-default{

		.navbar-header .navbar-brand img{ width: 210px; }

		.navbar-collapse{
			top: 8px; bottom: 8px;
			left: 8px; right: 8px;
			border: 0;
			-webkit-box-shadow: 0 0;
			box-shadow: 0 0;

			.navbar-nav{
				padding-left: 40px;

				> li > a{ font-size: 20px; }
			}

			&:before{
				width: 100%;
				height: 2px;
				-webkit-transform: scaleY(1);
				transform: scaleY(1);
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: -webkit-transform .4s, height .5s;
				transition: transform .4s, height .5s;
			}

			&.fullheight:before{ 
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
			&.fullwidth:before{ height: 100%; }
		}
	}

	#home .profile{
		margin-left: 0; 
		margin-bottom: 20px;

		.face{ width: 180px;/* margin-left: -20px;*/ }
	}

	#home #about .link{ margin: 30px 0 60px 25px; }

	.wrap-technologies{ margin-bottom: -70px; }
	.wrap-technologies .single-tech{
		width: 49% !important;
		margin-bottom: 15px;
	}

	#projects{
		/*padding-top: 100px;*/
		padding-top: 40px;
    	margin-top: 60px;
	}

	.single-project:last-child{ margin-bottom: 0; }

	.project-back, .project-link{ 
		font-size: 11px;
		letter-spacing: 0.17em;

		a:after, a:before{ font-size: 9px !important; }
	}

	.wrap-awards{ left: 0; }
	.wrap-awards .row:last-child .single-award{
		margin-bottom: 75px;
	}

	.wrap-awards .row:last-child > div:last-child .single-award{
		margin-bottom: 0;
	}

	#contact form{ margin-left: 0; }
	#contact input[type="submit"]{
		position: static;
		border-bottom: 2px solid @blue;
		margin-left: 30px;
		-webkit-transform: none;
		transform: none;
		padding-top: 24px;
		padding-bottom: 24px;
	}

	#contact .field-content ul{
	    padding-left: 15px;
	    margin-bottom: 15px;
	}

	textarea{ height: 140px; }

	footer{
		padding: 75px 0;

		.footer-brand{ font-size: 16px; }
	}

	/* Single project */

	.project{ padding-top: 45px; }

	.project-info{
		margin-top: 25px;

		.small-title{ margin-bottom: 30px; }
	}

	.project-content{ margin-top: 30px; }
}

@media (max-width: 320px){

	header.navbar-default .navbar-header .navbar-brand img{
		width: 180px;
	}
}