/*===========================
Max - Nav
===========================*/

body.nav-opened{

	#nav-icon > span{
		background: #fff;
	}
}

#nav-icon{
	position: fixed;
	left: 57px;
	z-index: 9;
	width: 33px;
	height: 27px;

	> span{
		width: 1px;
		height: 22px;
		/*display: inline-block;*/
		/*margin-right: 10px;*/
		background: @blue;
		-webkit-transform: rotate(32deg);
		transform: rotate(32deg);
		-webkit-transition: all .25s;
		transition: all .25s;

		position: absolute;
		top: 0;
		left: 0;

		&:nth-child(2){ left: 10px; }
		&:nth-child(3){ left: 20px; }
	}

	&:hover > span{
		&:nth-child(1){
			top: 4px;
    		left: -2px;
		}
		&:nth-child(2){
		    top: -4px;
			left: 12px;
		}
		&:nth-child(3){
			top: 4px;
    		left: 18px;
		}
	}
}

header.navbar-default{
	background: none;
	border: 0;
	margin: 0;

	.navbar-header{
		float: none;

		.navbar-brand{
			margin: 20px auto 0;
			float: none;
			display: inline-block;

			img{ width: 300px; }
		}
	}

	.navbar-collapse{
		position: fixed;
		display: none;
		top: 33px; bottom: 33px;
		left: 33px; right: 33px;
		max-height: none;
		-webkit-box-shadow: 0 0;
		box-shadow: 0 0;
		padding: 0;
		
		.navbar-nav{
			left: 0;
			padding-left: 260px;
			position: absolute;

			> li{
				float: none;
				opacity: 0;
				top: 10px;

				> a{
					font-family: @mheavy;
					color: #fff;
					font-size: 36px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					display: inline-block;
					line-height: 1em;
					padding-top: 7.5px;
					padding-bottom: 7.5px;
					position: relative;

					&:before{
						content: "";
						height: 2px;
						width: 0;
						background: #fff;
						position: absolute;
						top: 53%; left: 0;
						/*opacity: 1;*/
						-webkit-transition: all .3s;
						transition: all .3s;
					}

					&:hover, &:focus{
						color: #fff;
					}

					&:hover:before{ 
						/*opacity: 0.7; */
						width: 100%;
					}
				}
			}
		}

		&:before{
			width: 2px;
			height: 100%;
			background: @blue;
			position: absolute;
			top: 0; left: 0;
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			-webkit-transition: -webkit-transform .4s, width .5s;
			transition: transform .4s, width .5s;
		}

		&.fullheight:before{ 
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}
		&.fullwidth:before{ width: 100%; }
	}
}

footer{
	background: #2c2c2c;
	padding: 125px 0;

	.footer-brand{
		font-size: 24px;
		color: #434343;
		display: inline-block;
		line-height: 1em;

		&:hover{
			color: #7f7f7f;
		}
	}
}