/*===========================
Max - Responsive
===========================*/

@media (min-width: 1420px){
	.container{ width: 1270px; }
}

@media (max-width: 1499px){

	.project-back{ left: -65px; }
	.project-link{ right: -65px; }
}

@media (max-width: 1419px){

	body{ background-position: ~"calc(50% + 20px)" center; }
	#nav-icon{ left: 52px; }
	.title{ font-size: 121px; margin-left: 20px; }
	.container{ width: 1170px; }
	.project-back, .project-link{ position: static; }
	.project-back{ margin: -15px 0 15px; }
	.project-link{ margin-top: 15px; }
	.wrap-technologies{ margin-left: 5px; }
	#projects .projects-inner{ padding: 0 28px; }
}

@media (max-width: 1360px){

	.title{ font-size: 110px; }
	.small-title{ font-size: 33px; }

	header.navbar-default .navbar-collapse{
		top: 22px;
	    bottom: 22px;
	    left: 22px;
	    right: 22px;

		.navbar-nav{
			padding-left: 180px;
		}
	}

	#home .about-bio { padding-top: 508px; }
	/*#home .about-bio { padding-top: 720px; }*/

	#projects-list{ top: 282px; }
}

@media (max-width: 1299px){

	#nav-icon{ left: 42px; }
	.container{ width: 1070px; }

	.single-award .small-title{
		white-space: normal;
	}
}

@media (max-width: 1199px){

	/*.row{ margin: 0; }*/
	#nav-icon{ left: 36px; }
	.container{ width: 900px; }
	.title{ font-size: 88px; }
	.small-title{ font-size: 25px; }
	p.big{ font-size: 16px; }

	header.navbar-default .navbar-collapse{
		top: 16px; bottom: 16px;
		left: 16px; right: 16px;

		.navbar-nav{
			padding-left: 120px;
		}
	}

	#home .profile .face{ width: 400px; }
	#home .about-bio .divider{ left: 5px; }
	/*#home .about-bio { padding-top: 610px; }*/

	html[lang="en"]{
		#home .about-bio{ padding-top: 270px; }
	}

	#projects-list{ top: 256px; }

	.single-project{
		margin-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
	}

	.wrap-technologies .single-tech{ 
		width: 20%; 
	}
}

@media (max-width: 991px){

	.container{ width: 665px; }

	#toolbar-administration{ display: none; }

	#home .profile .face{ width: 300px; }
	#home .about-bio{ padding-top: 30px !important; }

	#home #about .link{ margin: 40px 0 120px 45px; }

	#nav-icon{ left: 27px; }
	header.navbar-default .navbar-collapse{
		top: 12px; bottom: 12px;
		left: 12px; right: 12px;

		.navbar-nav{
			padding-left: 80px;

			> li > a{ font-size: 30px; }
		}
	}

	.title{ 
		font-size: 65px; 
		letter-spacing: 0.17em;
		max-width: 90%;
		margin-left: 0;

		&#about br:not(.break){ display: none; }
	}

	.small-title{ font-size: 20px; }

	p.big{ font-size: 16px; }

	.wrap-technologies .single-tech{
		width: 24%;
		margin-bottom: 60px;

		p{ font-size: 16px; }

		&:nth-child(5n){ width: 24%; }
	}

	.project{ padding-top: 64px; }
	#projects .projects-inner{ padding: 0 5px; }
	#projects-list{ display: none; }

	.single-project{ 
		margin-bottom: 55px !important; 

		img{
			opacity: 1;
	    	-webkit-filter: grayscale(0%);
		    -moz-filter: grayscale(0%);
		    -ms-filter: grayscale(0%);
		    filter: grayscale(0%);
		    filter: none;
		}
	}

	.single-project .small-subtitle{
		display: block;
		position: absolute;
		font-size: 13px;
		margin: 10px 0 5px;
	}

	.project-info .project-content p{ padding-left: 0; }

	#contact .field-content ul li{ 
		width: 50%; 
		margin-bottom: 16px;
	}
}
