/*===========================
Max - Single project
===========================*/

.project{
	padding: 75px 0 98px;
	.container{ max-width: 1230px; }
}

.project-info{
	margin-top: 60px;

	.small-title{ 
		max-width: 420px; 
		margin-bottom: 50px;
	}

	.project-content p{ 
		margin-bottom: 12px; 
		padding-left: 8px;
	}
}

.project-back, .project-link{ z-index: 99; }

.project-back{
	position: absolute;
	left: -100px; top: 37px;
}

.project-link{
	position: absolute;
	bottom: 37px; right: -100px;
	float: right;
}